.Logincard {
    text-align: center;
    width: 30%;
    margin: auto;
  }
.col {
    padding: 200px 0;
  }
.Loginbutton{
    width: 50px;
    float: right;
    padding : 3px;
}
.Loginbutton:hover{
    width: 50px;
    float: right;
    padding : 3px;
    background-color: gray;
}
.Joinbutton {
    width: 50px;
    float: left;
    padding : 3px;
}
.Joinbutton:hover {
    width: 50px;
    float: left;
    padding : 3px;
    background-color: gray;
}